#Ignore everything
*

# Except for the following items
!.gitignore

#README
!*.md


#harware
!platform/
!platform/*.mhs
!platform/data
!platform/data/*.ucf
!platform/implementation
!platform/implementation/*.bit
!MyProcessorIPLib/pcores/
!MyProcessorIPLib/pcores/vid_inout_per_v1_01_a/
!MyProcessorIPLib/pcores/vid_inout_per_v1_01_a/hdl
!MyProcessorIPLib/pcores/vid_inout_per_v1_01_a/data
!MyProcessorIPLib/pcores/vid_inout_per_v1_01_a/hdl/vhdl
!MyProcessorIPLib/pcores/vid_inout_per_v1_01_a/hdl/vhdl/*.vhd
!MyProcessorIPLib/pcores/vid_inout_per_v1_01_a/data/*.mpd
!MyProcessorIPLib/pcores/vid_inout_per_v1_01_a/data/*.pao

#software
!MicroBlaze/video_manip
!MicroBlaze/video_manip/src
!MicroBlaze/video_manip/src/*.c
!MicroBlaze/video_manip/src/*.h

!Data/



# Et cetera.  Be sure to list all the file types you may want to use.  

# This file keeps you from uploading junk to GitLab or from seeing a bunch of junk in your
# gitbash window.  However, you need to make sure your folders and your files that you do 
# want to upload are included here.  For example, you'll want to add "!CPX2" just like the 
# lab examples above.  If you want to include .jpg files, add them just like the .vhd
# files.  Google can be your friend if you want to learn how this works better.

# Note, this file must match your naming conventions.  If you call your folder Alien_lab1,
# you'll need to type "!Alien_lab1", etc.  

# Come back and modify this file as you see fit.